.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --menu-color: #FF0070;
  --section-heading-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --main-heading-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark .rec {
  visibility: visible;
}