.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --menu-color: #353430;
  --accent-color: #FF8DCB;
  --section-heading-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --main-heading-color: #353430;
  --hover-color: rgb(50 49 45 / 0.4);
}

.theme_light .rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --menu-color: #353430;
    --accent-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    --section-heading-color: #353430;
    --header-logo-color: #FFC2E6;
    --footer-logo-color: #FFC2E6;
    --main-heading-color: #353430;
    --hover-color: #32312D;
  }
  .decorated-zone {
    border-color: var(--menu-color);
  }
  .rec {
    visibility: hidden;
  }
}






