@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --theme-color: #353430;
    --menu-color: #353430;
  }
  .decorated-zone {
    border-color: var(--menu-color);
  }
  .block__heading {
    color: var(--menu-color);
  }
  .rec {
    visibility: hidden;
  }
}
