:root {
 --font-family: 'IBM Plex mono', regular;
 --bg-color: #000028;
 --text-color: #F1B2CE;
 --accent-color: #FF0070;
 --menu-color: #FF0070;
 --font-size: 18px;
 --background-image: url(../images/cover-image-dark.png);
 --section-heading-color: #FF0070;
 --header-logo-color: #DB00FF;
 --footer-logo-color: #DB00FF;
}
