:root {
 --font-family: 'IBM Plex mono';
 --bg-color: #000028;
 --text-color: #F1B2CE;
 --accent-color: #FF0070;
 --menu-color: #FF0070;
 --font-size: 18px;
 --title-color: #DB00FF;
 --background-image: url(../images/cover-image-dark.png);
}
